.list-container-pc {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;

  .list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}