.loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-container .loading-view {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.loading-container .item {
    width: 13%;
    margin-right: 7%;
    height: 50%;
    border-radius: 3px;
    background-color: #1890ff;
    animation:loading-item 1.2s ease-in-out infinite;
}
.loading-container .item-1 { animation-delay: 0s; }
.loading-container .item-2 { animation-delay: .2s; }
.loading-container .item-3 { animation-delay: .4s; }
.loading-container .item-4 { animation-delay: .6s; }
.loading-container .item-5 { animation-delay: .8s; }
@keyframes loading-item {
    0%  { height: 40%; }
    13% { height: 60%; }
    25% { height: 100%; }
    37% { height: 60%; }
    50% { height: 40%; }
    100% { height: 40%; }
}